
.scroll-side {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    grid-gap: 10px;
    gap: 10px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 1rem;
  }

.side {
  width: 330px;
}
  
  .scroll-side::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }
  
  .scroll-side::-webkit-scrollbar-thumb,
  .scroll-side::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 9%, 0.514);
  }

  .width-330 {
    width: 1320px;
  }

  .scroll-sideway {
    /* max-width: 600px; */
    width: fit-content;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .scroll-sideway::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }
  
  .scroll-sideway::-webkit-scrollbar-thumb,
  .scroll-sideway::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 9%, 0.514);
  }

  .width-330 {
    width: 1320px;
  }





  